@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto;
  margin: 0;

  display: flex;
  flex-direction: column;
}
.header,
.nav,
.footer {
  background-color: #1f2937;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
a {
  color: white;
  text-decoration: none;
}
.nav {
  display: flex;
  padding: 20px 230px;
  justify-content: space-around;
  flex-grow: 1;
}
.header {
  display: flex;
  justify-content: space-around;
  padding: 16px 0px;
}

img {
  width: 400px;
  height: auto;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
}

/*srodek*/

.tytul {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
}
.zdjeciazinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  gap: 10px;
}
.info {
  max-width: 150px;
  padding: 30px;
  text-align: center;
}
.info img {
  width: 100%;
  height: 100%;
  border: 3px solid #3882f6;
  border-radius: 10px;
}
.text {
  color: gray;
}
/*srodek*/

p,
li {
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

button {
  background-color: #3882f6;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: #3882f6;
  outline: none;
}
.zawartosc {
  display: flex;
}
.quote {
  flex: 1;
  background-color: #e5e7eb;
  padding: 60px;
  justify-content: center;
}
.quote .text {
  font-style: italic;
  font-size: 36px;
  font-weight: light;
  color: #1f2937;
  text-align: center;
}
.quote .autor {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  margin-right: 26%;
}

.abfooter {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  margin: 50px 300px;
  padding: 30px;
  border-radius: 10px;
  color: white;
  flex-shrink: 0;
}
.summary button {
  border: 2px solid white;
  margin-left: 50px;
}

.footer {
  display: flex;
  color: white;
  justify-content: center;
  padding: 50px 10px;
}
